* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

/* Section 1 */

.section-1 {
  background-color: #1f2937;
  color: white;
  height: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 50px 100px;
}

.logo {
  font-size: 20px;
}

nav:last-child {
  margin-right: 90px;
}

.links {
  text-decoration: none;
  color: rgb(185, 185, 185);
  margin: 10px;
}

.links:hover {
  color: white;
}

.content-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px 30px;
  align-content: center;
}

.bunny-img {
  margin-bottom: 100px;
  flex: 0 1 400px;
  border: 2px solid white;
  height: 210px;
}

.text-one {
  margin-bottom: 30px;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
}

.text-two {
  font-size: 14px;
  font-weight: lighter;
  flex-wrap: wrap;
  color: rgba(234, 234, 234, 0.876);
}

.button {
  border-radius: 5px;
  border: none;
  background-color: #3882f6;
  color: white;
  font-size: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.button:hover {
  color: #3882f6;
  background-color: white;
}

/* Section 2 */

h3 {
  text-align: center;
  font-size: 22px;
}

.section-2 {
  height: 350px;
}

.images-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bunnycontainer-img {
  border: 3px solid #3882f6;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bunny-text {
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  text-align: center;
}

/* section 3 */

.section-3 {
  background-color: #e5e7eb;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockquote {
  margin: 50px;
}

.blockquote-text {
  font-style: oblique;
  padding: 50px 350px 0px;
  font-size: 20px;
  text-align: left;
}

.blockquote-text-credit {
  padding-top: 0px;
  font-weight: bold;
  text-align: right;
}

.blockquote-text-credit::before {
  /* creates an element before to add a "-" */
  content: "\2014\0020";
  /* long dash and space */
}

/* section 4 */

.section-4 {
  display: flex;
  padding: 60px;
  justify-content: center;
  align-items: center;
}
.action-box {
  background-color: #3882f6;
  min-width: 75%;
  min-height: 100px;
  border-radius: 20px;
  color: white;
  display: flex;
  gap: 100px;
}

.text-content2 {
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
.call-to-action {
  font-size: 20px;
}
.sign-up {
  font-size: 10px;
  font-weight: lighter;
}
.button2 {
  border: 1px solid white;
  height: 40px;
  align-self: center;
  width: 300px;
  margin-right: 40px;
}

/* footer */
.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.odin {
  color: gray;
  text-decoration: none;
}

.odin:hover {
  color: white;
}
